@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}

.container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .header {
  width: 100%;
  min-height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .header .title {
  font-size: 2rem;
  background: #000;
  color: #eee;
  padding: 0.5rem 2rem;
  border-radius: 12px;
}

.container .visual div {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  z-index: -1;
  -webkit-animation: bounce-5 1s ease;
          animation: bounce-5 1s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .visual div .emojis {
  font-size: 1.5rem;
}

.container .pads {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
}

.container .pads > div {
  width: 100px;
  height: 130px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 2px solid #eee;
  opacity: 0.73;
}

.container .pads > div:active {
  opacity: 1;
}

.container .pads .pad1 {
  background: #d3d160;
}

.container .pads .pad2 {
  background: #60aed3;
}

.container .pads .pad3 {
  background: #60d394;
}

.container .pads .pad4 {
  background: #d36060;
}

.container .pads .pad5 {
  background: #3c0ce9;
}

.container .pads .pad6 {
  background: #D98BE5;
}

.container .pads .pad7 {
  background: #82fa64;
}

.intro {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000;
  color: #eee;
}

.intro .hide {
  background: #000;
  overflow: hidden;
}

.intro .hide .text {
  font-size: 2.3rem;
  color: #eee;
  display: inline-block;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #034261;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

@media screen and (max-width: 768px) {
  .intro .hide .text {
    font-size: 1.7rem;
  }
  .container .visual div {
    left: 40%;
    width: 65px;
    height: 65px;
  }
  .container .pads div {
    width: 200px;
  }
}

@-webkit-keyframes bounce-5 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  30% {
    -webkit-transform: translateY(-370px);
            transform: translateY(-370px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  57% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  67% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce-5 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  30% {
    -webkit-transform: translateY(-370px);
            transform: translateY(-370px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  57% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  67% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=main.css.map */